{% extends "frameWithTitle.html" %}
{% block content %}
			    <div class='container'>      
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td>标题</td><td>收录时间</td><td>价格</td><td>操作</td>
							</tr>
							{% for doc in items%}
							<tr>
								<td><a href='{{doc.source}}' target='_blank'>{{doc.title}}</a></td>
								<td>{{doc.pub_date|date:"Y-m-d H:m:s"}}</td>
								<td>{{doc.price}}</td>
								<td><a href='/detail/{{doc.id}}'>查看</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>	
					<p>dd</p>
					<p>dd</p>
					<p>dd</p>
					<p>dd</p>
					<p>dd</p>
					<p>dd</p>
					<p>dd</p>
					
					<p>dd</p><p>dd</p>
					
					<p>dd</p><p>dd</p>
					<p>dd</p>
					<p>dd</p>
					
					<p>dd</p>
					<p>dd</p><p>dd</p>
					<p>dd</p>
					<p>dd</p>
					
					<p>dd</p><p>dd</p>
					<p>dd</p>
					<p>dd</p>
					
					<p>dd</p>
									
					<form action="/add" method="post" class='form-inline'>
						{% csrf_token %}
						收录：
						<input type='text' class='input-xxlarge' name='theurl' value='' placeholder="请将网址复制到这里..." size="150" />
						<button type='submit' class='btn btn-success'>
							添加
						</button>
					</form>
					<p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p>
					<p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p>
					<p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><p>ddd</p><br/>
					
					
				</div>			
{% endblock %}