{% extends "frameWithTitle.html" %}

{% block content %}
<div class='container-fluid'>
    <div class="row-fluid">
        <div class="span2">
            <ul class='nav nav-list'>
                <li class='nav-header'></li>
                <li class='active'><a href="/admin">用户管理</a></li>
                <li><a href="/admin/sys">系统管理</a></li>
            </ul>
        </div>
        <div class="span10">
            {% block adminContent %}adminContent{% endblock %}
        </div>
    </div>
</div>
{% endblock %}