{% extends "frameWithTitle.html" %}

{% block content %}
<div class='container'>
 <h4 style="text-align: center">邮箱激活</h4>
    {% if user.email_bind %}
        您的邮箱地址是{{ user.email }},已经绑定！

    {% else %}
         <form id="id_email_form" action="/email_bind" method="post" onsubmit="postForm('id_email_form');return false;" class='form-horizontal' style="margin-left:auto; margin-right:auto;width:230px">
        {% csrf_token %}
         <div class="control-group">
            <label class="control-label" for="inputEmail" style="width: 80px">邮箱地址：</label>
            <div class="controls" style="margin-left: 100px">
                <input type='text' name='email' value='{{ user.email }}'/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputEmail" style="width: 80px"></label>
            <div class="controls" style="margin-left: 100px">
                <input id='id_submit_button' type="submit" class='btn btn-primary' value="发送激活邮件"/>
            </div>
        </div>
        </form>

    {% endif %}


<script>
	function postForm(formId) {
        $("#id_submit_button").attr('class', 'btn');
        $("#id_submit_button").attr('disabled', 'disabled');
		form = $('#' + formId);
		$.post(form.attr('action'), form.serialize()).done(function(data) {
			if (data['result'] != 'success') {
				var errors = data['errors'];
				
				for (e in errors) {
				    $("#id_" + e).bindPopover(errors[e]);
					
                }
				$("#id_submit_button").attr('class', 'btn btn-primary');
                $("#id_submit_button").removeAttr('disabled');
			} else {
				$("#id_submit_button").bindPopover("发送成功！", 'top');

			}

			
		});
        return false;
	}
</script>
{% endblock %}