{% extends "frameWithTitle.html" %}

{% block content %}
<div class='container'>
 <h4 style="text-align: center">邮箱激活</h4>
    {% if user.email_bind %}
        您的邮箱地址是{{ user.email }},已经绑定！

    {% else %}
         <form id="id_email_form" action="/email_bind" method="post" onsubmit="postForm('id_email_form');return false;" class='form-horizontal' style="margin-left:auto; margin-right:auto;width:400px">
        {% csrf_token %}
         <div id='id_message' style='display: none'>
         邮件发送成功，请到您的邮箱查收！收到邮箱可能需要几分钟时间，如未收到激活邮件，请在<span id='id_time' style="color=red">60</span>秒后重新发送！
        </div>
         <div class="control-group">
            <label class="control-label" for="inputEmail" style="width: 80px">邮箱地址：</label>
            <div class="controls" style="margin-left: 100px">
                <input type='text' name='email' value='{{ user.email }}'/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputEmail" style="width: 80px"></label>
            <div class="controls" style="margin-left: 100px">
                <input id='id_submit_button' type="submit" class='btn btn-primary' value="发送激活邮件"/>
            </div>
        </div>
        <div id='id_success_message' style='display: none'>
         邮件发送成功，请到您的邮箱查收！收到邮箱可能需要几分钟时间，如未收到激活邮件，请在<span id='id_time' style="color=red">60</span>秒后重新发送！
        </div>
        </form>

    {% endif %}

</div>
<script>
	function postForm(formId) {
        $("#id_submit_button").attr('class', 'btn');
        $("#id_submit_button").attr('disabled', 'disabled');
		form = $('#' + formId);
		$.post(form.attr('action'), form.serialize()).done(function(data) {
			if (data['result'] != 'success') {
				var errors = data['errors'];
				
				for (e in errors) {
				    $("#id_" + e).bindPopover(errors[e]);
					
                }
				$("#id_submit_button").attr('class', 'btn btn-primary');
                $("#id_submit_button").removeAttr('disabled');

                if(data['message']){
                    $('#id_message').html(data['message']);
                    $('#id_message').show();
                }
			} else {
				//$("#id_submit_button").bindPopover("发送成功！", 'top');
                $('#id_success_message').show();
                startTime();
			}

			
		});
        return false;
	}
    var ltime=60;
    function startTime(){
        ltime=60;
        var w = setInterval(function () {
            ltime=ltime-1;
            $('#id_time').html(ltime);
            if (ltime==0){
                clearInterval(w);
                $("#id_submit_button").attr('class', 'btn btn-primary');
                $("#id_submit_button").removeAttr('disabled');
            }
        }, 1000); //每1000毫秒即1秒执行一次此函数
    }
</script>
{% endblock %}