<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>
    <h3 id="LoginModalLabel">登录</h3>
</div>
<ul class="thumbnails">

    <li class="span5">

        <form id='login_form' action='/login/form' class='form-horizontal' style="margin-left:auto; margin-right:auto;width:350px" onsubmit="do_login();return false;">
            
          
           
            {% csrf_token %}
              <div id='login_form_alert' class="alert alert-error fade in" style="display:none;margin-top: 15px">
                
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                用户名或密码错误！
            </div>
            <p  style="margin-top: 25px;" >
              
              <input id="id_username" type="text" name="username" maxlength="100" placeholder="用户名/邮箱"/>
              <span  id='login_form_error_username' style="margin-left: 10px; color: red;display: none">*请输入用户名！</span>
               
            </p>
            <p style="margin-top: 15px;" >
               
                    <input type="password" name="password" id="id_password" placeholder="密码"/>
                    <span  id='login_form_error_password' style="margin-left: 10px; color: red;display: none">*请输入密码！</span>
                
            </p>

            <label>记住密码：
                <input type="checkbox" name='remember' value='1' checked style="margin-top: 0px;" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| <a>忘记密码？</a></label>
            <button id='login_btn' type='submit' class="btn btn-primary" style="width: 220px">
                登&nbsp;&nbsp;录
            </button>
            <br/>
            <br/>

        </form>

    </li>
    <li class="span4">
        <div style="margin-top: 25px">
            *&nbsp;还没有账号？<a href="/register">立即注册</a>
        </div>
    </li>

</ul>