{% extends "frameNoTitle.html" %}

{% block content %}
		<div class='container'>		
		 <div class="hero-unit">
		      <h2 style="text-align: center">登录</h2>  
		<form action='login' method='post' class='form-horizontal' style="margin-left:auto; margin-right:auto;width:230px">
			
			{% if msg %}
			<font  color="red"> {{msg}}</font>
			{% endif %}
			{% csrf_token %}			
			{{form.as_p}}
			<button type='submit' class="btn" >登录</button> &nbsp;&nbsp;&nbsp;&nbsp;<a>忘记密码？</a>
			<br/><br/>
			<p>还没有账号？<a>注册</a></p>
			
		</form>		
		</div>
		</div>
{% endblock %}