{% extends "mframe.html" %}

{% block page %}

<section data-role='page' id='id_login'>
    <header data-role='header'>
        <a data-rel='back'>返回</a>
        <h1>用户登录</h1>
    </header>
    <div data-role='content' >
        {% if result == 'failed' %}
            用户名或密码错误！
        {% endif %}
        <span id='id_message_login_failed' style="display:none;color: #ff0000">用户名或密码错误！</span>
        <form id='id_login_form' action="/login/form" data-transition="pop" method="post">
            {% csrf_token %}
            <input name='username' type='text' placeholder="请输入用户名"/>
            <input name='password' type='password' placeholder="请输入密码"/>
            <input type="hidden" name='remember' value='1'/>
            <a data-icon='check' data-role="button" onclick='submit_login("{{ refer }}")'>提交</a>
        </form>

        <script language="javascript">
            function submit_login(refer){
                $('#id_message_login_failed').hide();
                $('#id_message_login_failed').html('用户名或密码错误！');

                var login_form=$('#id_login_form');
                $.post(login_form.attr('action'),login_form.serialize()).done(function(data){
                    if(data['result']=='success'){
                          //tourl=window.location.href.split('#')[0];
                          $.mobile.changePage(refer,{
                              url:refer,
                              reloadPage:true,
                              transition:"slide",
                              type:'get'
                          });
                    }
                    else{
                        if(data['login_failed']){
                            $('#id_message_login_failed').html('用户名或密码错误！');

                        }
                        else if (data['username']){
                            $('#id_message_login_failed').html(data['username']);

                        }
                        else if(data['password']){
                            $('#id_message_login_failed').html(data['password']);

                        }
                        $('#id_message_login_failed').show();
                    }


                });
            }
        </script>
    </div>
    <footer data-role='footer'>

    </footer>

{% endblock %}
