<!DOCTYPE html>
<html>
<head>

  <title>
      {% if page_title %}
        {{ page_title }} - 精品小说推荐
      {% else %}
        精品小说推荐
      {% endif %}

  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ STATIC_URL }}/img/favicon.ico" mce_href="{{ STATIC_URL }}/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/mls.css" />
  <link rel='stylesheet' href='http://lib.sinaapp.com/js/jquery-mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css'/>

  <script src='http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js'></script>
  <script src='http://lib.sinaapp.com/js/jquery-mobile/1.3.1/jquery.mobile-1.3.1.min.js'></script>
  <!--
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile.actionsheet.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile.structure-1.3.1.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.9.0.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.mobile-1.3.1.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.mobile.actionsheet.js"></script>
  -->

</head>

<body>
 {% block page %}page{% endblock %}
</body>
</html>