{% extends "frameWithTitle.html" %}

{% block content %}
<div class="container">
    <h1 style="text-align: center">个人设置</h1>
    <div class='span3'>
        <ul class="nav nav-list">
            <li>
                <a href="/setup">个人设置</a>
            </li>
            <li>
                <a href="/setpass">密码修改</a>
            </li>
            <li class="active">
                <a href="/setavatar">头像修改</a>
            </li>
        </ul>
    </div>
    <div class='span8'>
    	当前头像：<img id='current_avatar' src='{{STATIC_URL}}avatar/{{user.avatar}}'/>
    	<span id="cropMessage"></span>
        <script language="JavaScript">
			jQuery(function($) {

				// Create variables (in this scope) to hold the API and image size
				var jcrop_api, boundx, boundy,

				// Grab some information about the preview pane
				$preview = $('#preview-pane');
				$pcnt = $('#preview-pane .preview-container');
				$pimg = $('#preview-pane .preview-container img');
				xsize = $pcnt.width(), ysize = $pcnt.height();

				console.log('init', [xsize, ysize]);
				$('#target').Jcrop({
					onChange : updatePreview,
					onSelect : updatePreview,
					aspectRatio : xsize / ysize
				}, function() {
					// Use the API to get the real image size
					var bounds = this.getBounds();
					boundx = bounds[0];
					boundy = bounds[1];
					// Store the API in the jcrop_api variable
					jcrop_api = this;

					// Move the preview into the jcrop container for css positioning
					$preview.appendTo(jcrop_api.ui.holder);
				});
				function updatePreview(c) {
					if (parseInt(c.w) > 0) {
						var rx = xsize / c.w;
						var ry = ysize / c.h;
                        var avatarWidth=Math.round(rx * boundx);
                        var avatarHeight=Math.round(ry * boundy);
                        var avartarMarginLeft=Math.round(rx * c.x);
                        var avartarMarginTop=Math.round(ry * c.y);
						$pimg.css({
							width : Math.round(rx * boundx) + 'px',
							height : Math.round(ry * boundy) + 'px',
							marginLeft : '-' + Math.round(rx * c.x) + 'px',
							marginTop : '-' + Math.round(ry * c.y) + 'px'
						});
						$('#avatar_width').val(c.w);
						$('#avatar_height').val(c.h);
						$('#avatar_marginLeft').val(avartarMarginLeft);
						$('#avatar_marginTop').val(avartarMarginTop);
						$('#avatar_real_x').val(boundx);
						$('#avatar_real_y').val(boundy);
					}
				};

			});

        </script>
        <div>
        头像图片：
        <img id="target" src="{{avatar_url}}?tag={% now  'U' %}" />
        </div>
        <div id="preview-pane">
            <div class="preview-container">
                <img src="{{avatar_url}}?tag={% now  'U' %}" class="jcrop-preview" alt="Preview" />
               
            </div>
             <button class="btn-primary" onclick="$('#cropAvatarForm').submit()">
                设定头像
                </button>
        </div>
		
        <form action='setavatar' method='post' enctype="multipart/form-data" class='form-horizontal' style=" ">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
            <div class="control-group">
                <label style='float:left; margin-right: 30px'for="id_avatar">上传头像文件:</label>
                <input type="file" name="avatar" id="id_avatar" onchange="alert($('#id_avatar').val())"> <span class="help-inline">{{ field.errors.as_text }} </span> 
                
                 <button type='submit' class="btn btn-primary" >
                上传头像图片
                </button>
                 <input type='button' onclick='id_avatar.click()' value='选择图片'/>
            </div>
            {% endfor %}
           
            <br/>
        </form>
       
        <form action='cropAvatar' id='cropAvatarForm' method='post' onsubmit="return postCropAvatar()" class='form-horizontal' style=" ">
            <input type='hidden' id='avatar_width' name='avatar_width'/>
            <input type='hidden' id='avatar_height' name='avatar_height'/>
            <input type='hidden' id='avatar_marginLeft' name='avatar_marginLeft'/>
            <input type='hidden' id='avatar_marginTop' name='avatar_marginTop'/>
            <input type='hidden' id='avatar_real_x' name='avatar_real_x'/>
            <input type='hidden' id='avatar_real_y' name='avatar_real_y'/>
             {% csrf_token %}
            
        </form>
        <script>
            function postCropAvatar(){
                $.post("/cropAvatar", $("#cropAvatarForm").serialize()).done(
                function(data){
                    $('#current_avatar').attr('src','{{STATIC_URL}}avatar/'+data['avatar_url']);
                    $('#cropMessage').html("头像更新成功！");
                });
                return false;
                }
        </script>
    </div>
</div>
{% endblock %}