{% extends "frameWithTitle.html" %}

{% block content %}
<div class="container">
    <h1 style="text-align: center">修改密码</h1>
    <div class='span3'>
        <ul class="nav nav-list">
            <li>
                <a href="/setup">个人设置</a>
            </li>
            <li class="active">
                <a href="/setpass">密码修改</a>
            </li>
            <li>
                <a href="/setavatar">头像设置</a>
            </li>
        </ul>
    </div>
    <div class='span8'>
    <form action='/setpass' method='post'  class='form-horizontal' style="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
       
        <div class="control-group">
            <label for="id_password" style="float:left; margin-right: 30px;width:60px;">原密码:</label>
            {{ form.password }} 
            <span style="display: inline-block">{{ form.password.errors }}</span>
        </div>
        <div class="control-group">
           <label for="id_subject" style="float:left; margin-right: 30px;width:60px;">{{ form.newPassword.label }}:</label>
            {{ form.newPassword }} <span style="display: inline-block">{{ form.newPassword.errors }} </span>
        </div>
        <div class="control-group" >
            <label for="id_subject" style="float:left; margin-right: 30px;width:60px;">确认密码:</label>
            {{ form.rePassword }}
            <span style="display: inline-block">{{ form.rePassword.errors }} </span>
        </div>
        <button type='submit' class="btn btn-primary" >
            设置
        </button>
      
        
    </form>
    </div>
</div>
{% endblock %}