{% extends "frameWithTitle.html" %}

{% block content %}
<div class="container">
    <h1 style="text-align: center">个人设置</h1>
    <div class='span3'>
       {% include 'setup_leftbar.html' %}
    </div>
    <div class='span8'>
    <form action='setup' method='post' class='form-horizontal' style=" ">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        
        <div class="control-group">
            <label style="float:left; margin-right: 30px" for="id_nickname">昵称:</label>
            <input name="nickname" placeholder="请输入昵称" value="{{user.nickname}}" maxlength="20" type="text" id="id_nickname">
            <span class="help-inline"> </span>
        </div>
        <div class="control-group">
            <label style="float:left; margin-right: 30px" for="id_nickname">邮箱:</label>
            <input name="email" placeholder="请输入昵称" value="{{user.email}}" maxlength="20" type="text" id="id_email" readonly="readonly">
            <span class="help-inline"> </span>
        </div>
        <div class="control-group">
            <label style="float:left; margin-right: 30px" for="id_nickname">性别:</label>
            <span style="margin-right: 10px"><input type="radio" name="gender" value="1" {% if user.gender = 1 %} checked="checked"{%endif%} style="margin-right: 3px">女</span>
            <span style="margin-right: 10px"><input type="radio" name="gender" value="2" {% if user.gender = 2 %}checked="checked"{%endif%} style="margin-right: 3px">男</span>
            <span style="margin-right: 10px"><input type="radio" name="gender" value="3" {% if user.gender = 3 %}checked="checked"{%endif%} style="margin-right: 3px">保密</span>
            <span class="help-inline"> </span>
        </div>
        
        <button type='submit' class="btn btn-primary" >
            设置
        </button>
        <br/>
     

    </form>
    </div>
</div>
{% endblock %}