{% extends "frameWithTitle.html" %}

{% block content %}
		<div class="container">	
		<form action='setup' method='post' enctype="multipart/form-data" class='form-horizontal' style="margin-left:auto; margin-right:auto;width:230px">
			<h1 style="text-align: center">设置</h1>  
			{% if msg %}
			<font  color="red"> {{msg}}</font>
			{% endif %}
			{% csrf_token %}			
			{{form.as_p}}
			<button type='submit' class="btn" >设置</button>
			<br/>
			<p><a href="/">返回</a></p>
		</form>		
		</div>
{% endblock %}