<div class="header wrapper" id="layout_header">
    <div class="contents">
        <div class="logo">
            <a class=" w1" href="/" id="__w2_gMmFnEt_logo">Quora</a>
        </div>
        <ul class="nav_list nav_list_reorg" id="__w2_WY8YzF7_default_nav">
            <li>
                <div class="hover_menu hidden nav_menu" style="display: none" id="__w2_r8bkiza_menu">
                    <div class="hover_menu_nub"></div>
                    <div class="hover_menu_contents" id="__w2_r8bkiza_menu_contents">
                        <div id="ld_203UXA_10624">
                            <div>
                                <ul class="nav_menu_list">
                                    <li>
                                        <a href="/question/add">Add Question</a>
                                    </li>
                                    <li>
                                        <a href="/home/answer">Answer Questions<span id="ld_203UXA_10627"></span></a>
                                    </li>
                                    <li>
                                        <a href="/post/add">Write Post</a>
                                    </li>
                                    <li>
                                        <a href="/topic/create">Create Topic</a>
                                    </li><li class="nav_menu_hr"></li>
                                    <li>
                                        <a href="/blog/add">Create Blog</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><a class="home has_count nav_item has_nav_menu" href="#" id="__w2_r8bkiza_link"><span class="has_nav_menu_nub"></span><strong>Write</strong></a>
            </li>
            <li style="margin-top:13px;margin-left:3px;margin-right:3px;">
                <span class="bullet"> • </span>
            </li>
            <li>
                <div id="ld_203UXA_10621">
                    <div class="hover_menu hidden nav_menu hover_menu_wide" style="display: none" id="__w2_vO9aXoN_menu">
                        <div class="hover_menu_nub"></div><div class="hover_menu_contents" id="__w2_vO9aXoN_menu_contents"></div>
                    </div><a class="home has_count nav_item has_nav_menu" href="/" id="__w2_vO9aXoN_link"><span class="has_nav_menu_nub"></span><strong>Home</strong><span id="ld_kQiY0m_5918"><strong class="count">1</strong></span></a>
                    <div id="ld_kQiY0m_5919">
                        <div id="ld_kQiY0m_5924">
                            <div class="hover_menu hover_menu_wide fixed_hover_menu hidden" style="top: 40px; display: none;" id="__w2_da7jWSq_notif">
                                <div id="ld_kQiY0m_5928">
                                    <div class="hover_menu_nub" style="background-position: 10px 0%;"></div>
                                    <ul class="hover_menu_contents">
                                        <div id="ld_kQiY0m_5932">
                                            <li class=" notification_item p1 row unseen ">
                                                <div class="notification">
                                                    <div class="usercard">
                                                        <div class="pic">
                                                            <a href="/Jeecy-Huang" routing="q://user/(11008210)" id="__w2_tROe9hi_link"><img class=" profile_photo_img" src="http://qsf.cf.quoracdn.net/-983d40ab650976cc.png" width="25" alt="Jeecy Huang" height="25"></a>
                                                        </div>
                                                    </div>
                                                    <div class="notification_text">
                                                        <div>
                                                            <span id="ld_kQiY0m_5934"><span id="ld_7d3oNV_10143"><span><a class="follow_button unfollow_button" href="#" id="__w2_TkSCzEG_unfollow_user">Unfollow</a></span><keyevent cid="TkSCzEG"></keyevent></span><a action="notificationSelected:" href="/Jeecy-Huang?__snids__=90167581&amp;__nsrc__=5" arg="{&quot;notif_key&quot;: 1, &quot;snid&quot;: 90167581, &quot;uid&quot;: 11008210}">
                                                                <div class="hover_menu hidden hover_menu_wide" style="display: none" id="__w2_jHWAbyL_menu">
                                                                    <div class="hover_menu_nub" style="background-position: 10px 0%;"></div><div class="hover_menu_contents" id="__w2_jHWAbyL_menu_contents"></div>
                                                                </div>Jeecy Huang</a> is now following you. <span class="timestamp">14m ago</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <span class=" header_profile_link"><span id="ld_203UXA_10622">
                        <div class="hover_menu hidden nav_menu" style="display: none" id="__w2_RT5FCUN_menu">
                            <div class="hover_menu_nub"></div>
                            <div class="hover_menu_contents" id="__w2_RT5FCUN_menu_contents">
                                <div>
                                    <ul class="nav_menu_list">
                                        <li>
                                            <a href="/credits">Credits</a>
                                        </li>
                                        <li>
                                            <a href="/settings">Settings</a>
                                        </li><li class="nav_menu_hr"></li>
                                        <li class="logout">
                                            <form action="/login/logout_POST" method="POST" target="_top" id="__w2_pMDy7Np_logout_form">
                                                <input type="hidden" name="formkey" value="28604e1ae25f16d9de0f4df254fe3ec9">
                                                <input group="__w2_pMDy7Np_interaction" type="hidden" name="next" value="http://www.quora.com/" w2cid="pMDy7Np" id="__w2__u_atG138BJdq">
                                                <a href="#" id="__w2_pMDy7Np_logout_link">Logout</a>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><a class="nav_item has_nav_menu" href="/Paul-Wang-9" id="__w2_RT5FCUN_link"><span class="has_nav_menu_nub"></span><strong>
                        <div class="hover_menu hidden hover_menu_wide" style="display: none" id="__w2_KUkLlMR_menu">
                            <div class="hover_menu_nub"></div><div class="hover_menu_contents" id="__w2_KUkLlMR_menu_contents"></div>
                        </div>Paul</strong><img class=" profile_photo_img" src="http://qph.cf.quoracdn.net/main-thumb-11007159-25-YRPZ5YSRsKFPpD32AjYQuNQQmxJEhJxr.jpeg" width="25" alt="Paul Wang" height="25"></a></span></span>
            </li>
        </ul>
        <div id="__w2_WY8YzF7_context_navigator">
            <div class=" search full_search">
                <div class="search_contents navigator">
                    <form class="search_form" action="#" onsubmit="return false;" method="get" name="search_form">
                        <div class="search_input">
                            <div class="input_wrapper" id="__w2_xOoPJEt_input_wrapper" style="background-color: rgb(255, 255, 255);">
                                <span class="context" id="__w2_zQrAEwG_context" style=""></span>
                                <input class="question_box light" group="__w2_xOoPJEt_interaction" placeholder="Search Questions, Topics, People, and Blogs" value="" autocomplete="off" maxlength="250" type="text" tabindex="1" w2cid="xOoPJEt" id="__w2_xOoPJEt_input" style="width: 463px; padding-right: 5px;">
                                <a class="clear_navigator hidden" href="#" id="__w2_xOoPJEt_clear">&nbsp;</a>
                            </div>
                        </div><span class="hidden"><a href="#" id="__w2_O2T2nwi_link">Add Question</a></span>
                    </form>
                    <div id="__w2_xOoPJEt_results_shell">
                        <div class="results_frame" id="__w2_DihAZ0M_results_frame" style="display: none;">
                            <ul id="__w2_DihAZ0M_results_list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>