.row-fluid .lavatar {
	width: 70px;
	padding-left: 10px;
}
.ls-avatar{
	width: 60px; 
	height: 60px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow：0 1px 3px rgba(0,0,0,.3);
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.ls-main{
	box-shadow:0 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);
	
	background: #FFFFFF;
	margin-bottom: 10px;
}
.ls-title{
	background:#ff74a1;
}
.ls-title  h4,h5 {
	margin-left:20px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "宋体B8B\4F53", simsun, sans-serif;
	color:#ffffff;
}
.ls-title span{
	float:right;
	margin-right:20px;
}

.ls-chapter{
    width:580px;
    margin:auto;
    border-top:dashed #dddddd 1px;


}
.ls-chapter .ls-chapter-item{
    display:inline-block;
    width:260px;
    padding:5px 10px 5px 10px;
    border-bottom: dashed #dddddd 1px;
    overflow: hidden
}
.ls-chapter .ls-chapter-item-first{
    display:inline-block;
    width:260px;
    padding:5px 10px 5px 10px;
    border-bottom: dashed #dddddd 1px;
    overflow: hidden
}

.recommend {
	margin: 30px 0 30px 0;
}
.recommend span {
	color: #C1595A;
	font-weight: 600;
	font-size: 12px;
}
.recommend a {
	font-size: 12px;
	color: #ec508b;
}
.topic-item {
	border-top: 1px solid #C8C8A9;
	position: relative;
	padding-bottom: 10px;
}
/*
.topic-item:after {
	position: absolute;
	display: block;
	top:0;
	left:0;
	content:"";
	border-top: 1px solid #ffffff;
}*/
.feed-item .feed-main {
	margin-left: 40px;
}
.feed-item .feed-main h4 > a {
	color: inherit;
	font-family: inherit;
	font-weight: bold;
	line-height: 15px;
	margin: 0 0 5px;
}
.feed-item .feed-main span {
	font-size: 12px;
	color: #999;
	font-weight: 100;
}
.feed-item .feed-main .content .answer a {
	color: #C1595A;
}
.crumb {
	margin: 20px 0 20px 0;
	display: block;
	height: 30px;
}
.crumb .crumb-bg {
	width: 55px;
	float: left;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	background: url("images/book.jpg") no-repeat scroll 0 0 transparent;
	height: 30px;
}
.crumb .crumb-guide {
	float: left;
	height: 30px;
	background: url("images/read.jpg") no-repeat scroll right 0 transparent;
	padding-right: 11px;
}
.crumb .crumb-guide a {
	display: block;
	font-size: 14px;
	color: #666;
	height: 30px;
	background-color: #fee2ec;
	line-height: 30px;
	padding: 0 20px;
}
.crumb .crumb-guide-last {
	float: left;
	height: 30px;
	background: url("images/read-last.png") no-repeat scroll right 0 transparent;
	padding-right: 10px;
}
.crumb .crumb-guide-last a {
	font-size: 14px;
	color: #666;
	display: block;
	height: 30px;
	width: auto;
	background-color: #fee2ec;
	padding: 0 12px;
	line-height: 30px;
}
footer {
	border-top: 1px dashed #DDDDDD;
}
.editable {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.editable:after {
	position: absolute;
	display: block;
	border-bottom: 1px solid #ffffff;
	bottom: -2px;
	content: "";
	width: 100%;
	left: 0;
}
.editable small {
	font: 100 12px/20px "Microsoft Yahei", Simsun, Arial;
}
.editable > .user, .editable > h4, .editable > .usercontent {
	margin-bottom: 20px;
}
.editable > .user > .userimg {
	float: left;
}
.editable > .user > ul {
	padding-left: 35px;
}
.editable > .user > ul li {
	line-height: 13px;
	margin-bottom: 5px;
	color: #999;
}
.editable > .user > ul li a {
	color: #c1595a;
	padding: 0 5px;
}
.editable > .usercontent > h4 {
	color: #ec508b;
	font: 100 18px/20px "Microsoft Yahei", Simsun, Arial;
}
.comment > h4 {
	color: #EC508B;
	font: 100 18px/20px "Microsoft Yahei", Simsun, Arial;
}
.comment > .comment-user > ul {
	height: 22px;
}
.comment > .comment-user > ul .comment-user-img {
	float: left;
	width: 30px;
}
.comment > .comment-user > ul .comment-user-name {
	float: left;
	padding-left: 10px;
}
.comment > .comment-user > ul .comment-user-name h5 {
	font: 100 12px/15px "Microsoft Yahei", Simsun, Arial;
}

.form-horizontal  textarea {
	width: 600px
}
/* 覆盖 */
.nav-header{
	color: #ff74a1;
}
.label-tag{
	background: #ff74a1;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff74a1;
  *background-color: #fc9d9a;
  background-image: -moz-linear-gradient(top,  #fc9d9a, #ff74a1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #fc9d9a), to(#ff74a1));
  background-image: -webkit-linear-gradient(top,  #fc9d9a, #ff74a1);
  background-image: -o-linear-gradient(top,  #fc9d9a, #ff74a1);
  background-image: linear-gradient(to bottom, #fc9d9a, #ff74a1);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #ff74a1;
  *background-color: #ff74a1;
}

a{
	color: #666;
}

h1,h2,h3,h4,h5,h6{
	
}
	