{% extends "frameWithTitle.html" %}

{% block content %}
    <div class="container" style="width: 980px">
        <div class='row-fluid'>
            <div class='span12'>
                <h5>{{docList.source_info.source_name}}</h5>
                <p>{{ docList.source_info.source_desc }}</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class='span12'>
                <table class='table'>
                    <tr>
                        <th>TID</th>
                        <th>标题</th>
                        <th>更新时间</th>
                        <th>同步</th>
                        <th>状态(总回复，以同步回复)</th>
                    </tr>
                    <tbody>
                    {% for t,doc in docs %}
                    <tr>
                        <td>{{ t.tid  }}</td>
                        <td>
                            <a href='{{ t.url }}' target="_blank">{{ t.subject }}</a>

                        </td>
                        <td>{{ t.created_at }}</td>
                        <td>

                        <a href="#" id='id_{{ t.tid }}_syncbtn'
                           {% if doc %}
                            class='btn'
                            {% else %}
                            class='btn btn-primary'
                           {% endif %}
                            onclick="syncItem('{{ t.tid }}',1)" >
                            同步
                        </a>
                        <li class='icon-fast-forward' id='id_{{ t.tid }}_loading' style="display: none"></li>



                        </td>
                        <td>
                            <a href="/sync/htsync/t/{{ t.tid }}" target="_blank"  >查看</a>
                           {{ t.reply_count }}/ <span id='id_{{ t.tid }}_replycount'>{{ doc.topic.reply_count }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function syncItem(tid,page){

            var totalPage;
            var btn=$('#id_'+tid+'_syncbtn');
            var loading=$('#id_'+tid+'_loading');
            var replyCount=$('#id_'+tid+'_replycount');
            $.ajax(
                    {url:'/sync/htsync/t/'+tid+'/'+page+'?json=true',
                     type:'GET',
                     beforeSend:function(){

                        btn.hide();
                        loading.show();
                     },
                     error:function(){
                        replyCount.html(replyCount.html()+'error');
                        btn.hide();
                        loading.show();
                     }

                    }).done(function(data){

                        if(data['result']=='success'){

                            btn.attr('class','btn');
                            replyCount.html(data['reply_count']);
                            totalPage=parseInt(data['totalPage']);
                            if(page<=totalPage){
                                syncItem(tid,++page);
                            }else{
                                btn.show();
                                loading.hide();
                            }
                        }else{
                            btn.show();
                            loading.hide();
                        }


                    });
        }
    </script>
{% endblock %}