{% extends "frameWithTitle.html" %}

{% block content %}
<div class="container" style="width: 980px">
    <form action='setup' method='post' class='form-horizontal' style=" ">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in feedForm.visible_fields %}
        <div class="control-group">
            <label style='float:left; margin-right: 30px'for="id_nickname">{{ field.label }}:</label>
            {{ field }}
            <span class="help-inline">{{ field.errors.as_text }} </span>
        </div>
        {% endfor %}
        
        
        <button type='submit' class="btn btn-primary" >
            提交分享
        </button>
        <br/>
     

    </form>
</div>
{% endblock %}