{% extends "frameWithTitle.html" %}

{% block content %}
<div class="container" style="width: 1110px">
    <div class="container-fluid" style="padding-left: 0px;padding-right:0px;">
        <div class="row-fluid" >
            <div class="span9  ls-main">
                <div class="row-fluid ls-title">
                    <div class="span9" style="" >
                        <h4 >好看的{{category.getDisplayName}}推荐</h4>
                    </div>
                    
                </div> <!-- Modal -->
                
                {% for topic in topics %}
                {% include 'ls_category_topic_item_line.html'%}
                {% endfor %}
                
                 <!--翻页组建，需要PageInfo对象-->
                {% include 'base_util_pagination.html' %}
               
            </div>
            <div class="span3">
                {% include 'ls_right.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 