<!-- need Topic instance -->
<div id='topic_item_{{topic.id}}' class="row-fluid" style="border-top:1px solid #dddddd;margin-top: 10px" >
	<div class="lavatar span2 " style="margin-top: 10px">
		<img
		class="img-rounded"
		alt="140x140"
		style="width: 60px; height: 60px;"
		src="{{topic.getAvatarUrl}}"
		onerror="javascript:this.src='{{STATIC_URL}}img/avatar_default.jpg'" />
	</div>
	<div class="span10">
		<div class="row-fluid" >
			<div class='span12'>
				<span>
				    <h4 style="margin-bottom: 5px;">
				        {% if topic.isDocument %}
				            <span class="label label-info" style="margin-right: 10px">{{topic.getCategory.name}}</span>
				        {% endif%}
				        <a href="/topic/{{topic.id}}/1">{{topic.title}}</a>
				      
				    </h4>  
			    </span>
			</div>
		</div>
		<div class="row-fluid" >
			<div class='span2'>
				{{topic.username}} 
			</div>
			<div class='span3'>
			   {{topic.created_at|date:"Y-m-d f"}}
			</div>
			<div class='span7'>
				<span style="margin-left:10px;float: right;width: 130px">阅读数：{{topic.read_count}}</span>
				<span style="margin-left:10px;float: right;width: 130px">回复数：{{topic.reply_count}}</span>
			</div>
		</div>
		
		
		<div class="row-fluid" >
			<div class='span12' style="max-height: 400px;overflow-y: hidden">
				{{topic.content|linebreaksbr}}
			</div>
		</div>
		
	</div>
</div>