{% extends "frameWithTitle.html" %}

{% block content %}
<div class="container">
    <div class="container-fluid">
         <div class="row-fluid">
            <div class="span10">
                <!-- main -->
                
                {% with floor=0 %}
                {% for item in feeds %}
                    {% with feed=item.feed%}
                    <div class="row-fluid">
                    <div class="span2" style="margin-top: 20px">
                        <img data-src="holder.js/140x140"
                        class="img-rounded"
                        alt="140x140"
                        style="width: 60px; height: 60px;"
                        src="{{item.author.get_avatar_url}}">
                        </img>
                    </div>
                    <div  class="span10" style="margin-left: 0px">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span9">
                                        <h5>{{feed.username}}</h5>
                                        <h4>{{item.document.title}}</h4>
                                    </div>
                                   <div class="span3" style="height:30px;margin-top: 10px;"> 
                                        <span>类别：{{item.category.name}}</span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        阅读：{{item.document.read_count}}  状态：完结   评论：{{item.document.reply_count}}
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        {{item.document.content}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
                {% endwith %}
                
                
                
            </div>
            <div class="span2">
                <!--Sidebar content-->
                我关注的人：
            </div>
        </div>
       
    </div>
</div>
{% endblock %}