{% extends "frameWithTitle.html" %}

{% block content %}
<div class="container" style="width: 980px">
    <div class="container-fluid" style="padding-left: 0px;padding-right:0px;">
        <div class="row-fluid" >
            <div class="span9">
                <div class="row-fluid"  style="padding-left: 3px;-webkit-border-radius: 5px">
                    <div class="span9" >
                      
                       

                        <h4>“{{keyword}}”搜索结果：</h4>
                    </div>
                    <div class="span3" style="padding-top: 20px">
                        <span style="float: right;padding-right: 10px"> {% if user.is_active %}

                            {% else %} <a href="#login_modal" role="button" class="btn btn-primary" data-toggle="modal">登录 | 发帖</a> {% endif %} </span>
                    </div>
                </div>
                <!-- Modal -->

                {% for topic in topics %}
                {% include 'ls_category_topic_item.html'%}
                {% endfor %}

                <!--翻页组建，需要PageInfo对象-->
                {% include 'base_util_pagination.html' %}

            </div>
            <div class="span3">
                <!--Sidebar content-->
                
                {% include 'ls_right.html'%}
            </div>
        </div>
    </div>
</div>
{% endblock %} 