<div class="row-fluid">
    <div class="span9" >
        <h3> {{topic.instance.title}}</h3>
    </div>
    <div class="span3" style="padding-top: 30px">
        <span>标签：<a href="/cat/{{topic.getCategory.id}}/1">{{topic.getCategory.name}}</a></span>
        {% if user.is_staff %}
        {% endif %}
    </div>
</div>
<div class="row-fluid" style="border-top: 1px solid #dddddd; margin-bottom: 10px">
    <div class="span2 lavatar" style="margin-top: 20px">
        <img
        class="img-rounded"
        alt="140x140"
        style="width: 60px; height: 60px;"
        src="{{topic.instance.getAvatarUrl}}">
        </img>
    </div>
    <div  class="span10" >
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span3">
                        <h5><span >来自： <a href='/user/{{topic.instance.userid}}'>{{topic.instance.username}}</a></span>
                           </h5>
                    </div>
                    <div class="span9" style="height:30px;margin-top: 10px;">
                        <span>{{topic.instance.created_at|date:"Y-m-d f"}}</span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        阅读：{{topic.instance.read_count}}   评论：{{topic.instance.reply_count}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {{topic.instance.content|linebreaksbr}}
                    </div>
                </div>
                {% if user.is_staff %}
                <div class="row-fluid" style="margin-bottom: -15px">
                    <div class="span12">
                        <span style="float:right"> <a href="#">编辑</a> <a href="#">隐藏</a> <a href="#">删除</a> </span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>