 {# need reply object #}
<div class="row-fluid" style="border-top: 1px solid #dddddd;padding:10px 0px 10px 0px">
    <div class="span2 lavatar" style="margin-top: 2px;">
        <img
        class="img-rounded ls-avatar"
        alt="140x140"
        src="{{reply.getAvatarUrl}}"
        onerror="javascript:this.src='{{STATIC_URL}}img/avatar_default.jpg'" >
        </img>
    </div>
    <div  class="span10" id='{{ reply.id }}'>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span3">
                        <h5 style="margin: 0px"><span >来自： <a href="/user/{{reply.userid}}">{{reply.username}}</a></span></h5>
                    </div>
                    <div class="span3">
                        <span style="margin-left: 10px">{{reply.created_at|date:"Y-m-d f"}}</span>
                    </div>
                    <div class="span6">
                        {% if reply.num %}
                        <span  class="badge badge-info" style="float: right">{{reply.num}}</span>
                        {% else %}
                         <span  class="badge badge-success" style="float: right">New</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row-fluid" style="display:none">
                    <div class="span12">
                        {{reply.title}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {{reply.content|linebreaksbr }}
                    </div>
                </div>
                {% if user.is_staff %}
                  <div class="row-fluid">
                    <div class="span12">
                        <span style="float:right">
												<a href="/reply/edit?tid={{reply.topicid}}&rid={{ reply.id }}">编辑</a>
						</span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>