{% extends "frameWithTitle.html" %}

{% block content %}

<div class="container" style="width: 980px">

    <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
        <div class="row-fluid" >
            <div class="span9">
                <!-- main -->
                {% if topic.instance.isDocument %}
                {% include 'ls_topic_main_doc.html'%}
                {% else %}
                {% include 'ls_topic_main.html'%}
                {% endif %}
                <!-- reply list -->
                {% for reply in reply_list%}

                {% include 'ls_topic_reply_item.html'%}

                {% endfor %}

                <!--翻页组建，需要PageInfo对象-->
                {% include 'base_util_pagination.html' %}

                {% if user.is_active %}
                <div class="row-fluid"  style="margin-top: 5px;padding-top: 10px" id='reply-form-div'>
                    <div class="span2 lavatar" style="margin-top: 0px;padding-left: 10px">
                        <img
                        class="img-rounded"
                        alt="140x140"
                        style="width: 60px; height: 60px;"
                        src="{{user.get_avatar_url}}"
                        onerror="javascript:this.src='{{STATIC_URL}}img/avatar_default.jpg'" >
                        </img>
                    </div>
                    <div class='span10' >
                        <form class="form" method="post" id="postTopicReply" onsubmit="return postTopicReply();">
                            {% csrf_token %}
                            <div class="control-group">

                                <div class="controls">
                                    <textarea rows="3" id="reply-content-area" name="replyContent" style='width: 590px' onclick="cleanArea()">评论内容</textarea>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">
                                        提交评论
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script>
					function cleanArea() {
						val = $('#reply-form-div textarea').val();
						if (val == '评论内容') {
							$('#reply-form-div textarea').val('');
						}
					}

					function toggleReplyForm() {
						$('#newReply').fadeOut(function() {
							$('#reply-form-div').fadeIn('slow');
							$('#reply-form-div textarea').val('评论内容');
						});
					}

					function postTopicReply() {
						$.post("/topic/{{topic.instance.id}}/add_reply", $("#postTopicReply").serialize()).done(function(data) {
							if (data['success'] == 'false') {
								str = ''
								for (key in data['errors']) {
									str += (key + '=' + data[key] + '\n');
								}
								alert(str)

							} else {
								// $('#new-reply-time').html(data['time']);
								// $('#new-reply-content').html(data['content']);
								// $('#reply-form-div').fadeOut(function(){
								// $('#newReply').fadeIn('show');
								// });
								var replyid = data['replyid'];
								$.get("/topic/reply/" + replyid).done(function(rdata) {
									$('#reply-form-div').before(rdata);
									$('#reply-content-area').val('');
								});

							}
						});
						return false;
						//不提交页面
					}

                </script>
                {% endif %}
            </div>
            <div class="span3">
                <!--Sidebar content-->
                 {% include 'ls_right.html' %}

            </div>
        </div>

    </div>
</div>

{% endblock %}
