{% with doc=topic.instance.getDocument %}
<div class="row-fluid ls-title">
    <div class="span9">
        <h4> {{topic.instance.title}}</h4>
    </div>
    <div class="span3" style="padding-top: 10px">
        <span style="float: right">标签：<a href="/cat/{{topic.getCategory.id}}/1">{{topic.getCategory.name}}</a></span>
        {% if user.is_staff %}
        {% endif %}
    </div>
</div>
<div class="row-fluid" style="border-top: 1px solid #dddddd; margin-bottom: 20px;padding-top: 10px">
    <div class="span2 lavatar" >
        <img
        class="img-rounded ls-avatar"
        alt="140x140"
        src="{{topic.instance.getAvatarUrl}}">
        </img>
    </div>
    <div  class="span10" >
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="unstyled inline">
                                <li>来自:</li>
                                <li><a href="/user/{{doc.topic.userid}}">{{doc.topic.username}} </a></li>
                                <li>{{doc.topic.created_at|date:"Y-m-d f"}}</li>
                                
                        </ul>
                        
                    </div>
                    
                </div>
                {% if doc.author_name %}
                <div class="row-fluid">
                    <div class="span9">
                         <span >作者： {{doc.author_name}}</span> 
                    </div>
                    <div class="span3" >
                        
                    </div>
                </div>
                {% endif %}
                <div class="row-fluid">
                    <div class="span12">
                         <ul class="unstyled inline">
                                <li>发布:</li>
                                <li>{{topic.instance.created_at|date:"Y-m-d f"}}</li>
                                
                        </ul>
                       
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <span >更新： {{topic.instance.updated_at|date:"Y-m-d f"}}</span></h5>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        状态：完结
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        阅读：{{topic.instance.read_count}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        章节：12
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        字数：12342155
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12" style="height: 40px">
                        <a href="{{doc.source_url}}" target='_blank' class="btn btn-primary">立即阅读</a>
                        <!--
                        <span style="margin-left: 10px"><a href="{{doc.source_url}}" class="btn ">想看</a></span>
                        <span style="margin-left: 10px">评分： <a class="badge badge-important"><i class="icon-heart icon-white"></i></a> <a class="badge badge-important"><i class="icon-heart icon-white"></i></a> <a class="badge badge-important"><i class="icon-heart icon-white"></i></a> <a class="badge badge-info"><i class="icon-heart icon-white"></i></a> <a class="badge badge-info"><i class="icon-heart icon-white"></i></a> </span>
                        -->
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <b>简介：</b>{{topic.instance.content|linebreaksbr}}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        来源：<a href="{{doc.source_url}}" target="_blank">{{doc.getSiteSource.name}}</a>
                    </div>
                </div>
                {% if chapters %}
                    <div class="row-fluid">



                    <div class="span12">
                        <div style="margin-bottom:5px;">
                            最新章节：
                        </div>
                        <div class="ls-chapter">
                        {% for chapter in chapters %}

                            <div class='ls-chapter-item'>
                            <a href='{{ chapter.url }}'>{{ chapter.title|truncatechars:16 }}</a>&nbsp;
                            </div>

                        {% endfor %}

                        </div>
                    </div>
                </div>
                {% endif %}
                {% if user.is_staff %}
                <div class="row-fluid" style="margin-bottom: -15px">
                    <div class="span12">
                        <span style="float:right"> 
                            <a href="/topic/edit/{{topic.instance.id}}" role="button" data-toggle="modal">编辑</a> 
                            <a href='/sync/htsync/t/{{ doc.source_tid }}' targe='_blank'>同步</a>
                        </span>
                         
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endwith %}
