{% extends "mframe.html" %}

{% block page %}

<section data-role='page' id='id_doc_main'>
    <header data-role='header' data-position='fixed'>
        <a data-rel='back'>返回</a>
        <h1>{{ topic.instance.title }}</h1>
        {% if not user.is_active %}
        <a data-icon='start' href='/m/login/form?tid={{ topic.instance.id }}' class="ui-btn-right">登录</a>
        {% endif %}
    </header>
    <div data-role='content' style="padding: 0px 15px 15px 15px;">
       {% if not user.is_active %}
        <p style="color:#ff73aa">提示：登录后可自动保存书签！（用19楼账号）</p>
    {% endif %}
        <p>阅读数：
            {{ topic.instance.read_count }}
        </p>
        <p>最后更新：
            {{ topic.instance.getDocument.source_updated_at|date:"Y-m-d" }}
        </p>
        <ul data-role='listview'>
            <li data-role='list-divider'>内容简介：</li>
        </ul>

        <p>
            {% autoescape off %}
                {{ topic_content|linebreaksbr }}
            {% endautoescape %}
        </p>



        <ul data-role='listview' id='id_catalogs'>
           <li data-role='list-divider'>章节：</li>
            {% for chapter in chapters %}
                {% if chapter.title %}
                    <li>
                        <a href='/m/topic/{{ topic.instance.id }}/reply/{{chapter.id}}' >{{ chapter.title }}</a>
                    </li>
                {% endif  %}

            {% endfor %}
        </ul>
        <p></p>
        <ul data-role='listview'>
            <li data-role='list-divider'>最新评论：</li>

        {% for comment in comments %}

            <li>
                <p style="color:blue">{{ comment.username }} ({{ comment.created_at|date:"m-d H:i" }}): </p>
                <div style="padding: 3px 0px 5px 0px;">
                {{ comment.content }}
                </div>
            </li>


        {% endfor %}
         </ul>
        <p></p>
        <a href='{{ topic.instance.getDocument.source_url }}' style="float: right">访问源网页</a>


    </div>

    {% if user.is_active %}
    <footer data-role='footer'>

            <a data-icon='start' href='/m/comment/{{ topic.instance.id }}'  data-transition="slideup" class="ui-btn-left">评论</a>
            <a data-icon='home' href='/m/my/bookmarks/1'  data-transition="slideup" class='ui-btn-right'>书签</a>
    </footer>
    {% else %}
    <footer data-role='footer' >
            <a data-icon='start' href='/m/login/form?tid={{ topic.instance.id }}'  data-transition="slideup" class="ui-btn-left">评论</a>
            <a data-icon='home'href='/m/login/form?tid={{ topic.instance.id }}'   data-transition="slideup" class='ui-btn-right'>书签</a>
    </footer>
    {% endif %}

</section>

 <div id='tips' data-role='page'>
        提示：
            </div>


<script type='text/javascript'>
    $('#id_doc_main').on('pageshow',function(){
        catalogs_top = $('#id_catalogs').offset()['top'];
        $.mobile.silentScroll(catalogs_top);

    });
    var cbtn; //快捷按钮
    var cpage; //当前page
    var prepPage=function(event,ui){

        np=$(ui.nextPage[0]);
        np.on('pagehide',prepPage);
        cpage=np;

        reply_id=np.attr('reply_id');
        btn=$('#id_fast_btn_'+reply_id);
        btn.css('bottom','-8px');
        btn.css('right','0px');
        //btn.show();
        //cbtn=btn;

    };
    $(window).on('scrollstop',function(){
        if(cbtn){
            if((cpage.height()-$(document).scrollTop())<($(window).height()*2)){
                cbtn.hide();
            }else{
                cbtn.show();
            };


        }

    })

    $('#id_doc_main').on('pagehide',prepPage);
</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F61ed06e0d1504327fa7ef3da349056b5' type='text/javascript'%3E%3C/script%3E"));
</script>

{% endblock %}
